body{
    background-color: #b9b7b7;
}
table{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    border-collapse: collapse;
}
th{
    font-size: 20px;
}
th,td{
    padding: 20px;
}
tr:nth-child(odd){
    background-color: #716f6f;
}
tr:nth-child(even){
    background-color: #e2e2e2;
}
tr:hover{
    background-color: #3c3838;
    color:#e2e2e2;
}
td:hover{
    background-color: #4c4b4b;
    color:#e2e2e2;
}
.virsh{
    font-size: 20px;
}
.arrow{
    position: sticky;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 20px;
    left: 98%;
}
.symbol{
    position: relative;
    top:5px;
    left: 10px;
    text-decoration: none;
}